<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSHealthShareUsageDescription</key>
    <string>DevQuest needs to read your health data (steps, calories, exercise time) to calculate fitness dungeon progress and power stats.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>DevQuest does not modify your health data.</string>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>com.devquest.serverRefresh</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>processing</string>
    </array>
</dict>
</plist>
